*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(104, 230, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left-side {
    position: relative;
    background: rgb(3, 35, 3);
    padding: 40px;   
}
#dp{
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: cover;  
}
.profiletext{
   padding-bottom: 20px;
   border-bottom: 1px solid white;
   color: white;
}
.profiletext h2 span {
    font-size: 0.5em;
    font-weight: 200;
}
.contactinfo {
    padding-top: 40px;
}
.title{
    color: wheat;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contactinfo ul {
    position: relative;
}
.contactinfo ul li {
    list-style:none ;
    position: relative;
    margin:10px 0  ;
    cursor: pointer;
}
.contactinfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(20, 230, 17)
}
.contactinfo ul li span {
    color: white;
    font-weight: 300;
    font-size: 90%;
}
.contactinfo.education li{
    color: white;
    font-weight: 300;
    font-size: 90%;
    margin-bottom: 15px;
}
.contactinfo.education h5{
    color: rgb(20, 230, 17) ;
    font-weight:500 ;
    }



.container .right-side {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 40px;
}
.about{
    margin-bottom: 50px;

}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: green;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.title2 p {
    font-size:0%;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0 ;
}
.about .box .year_company {
    min-width: 150px;
}
.about .box .year_company  h5{
    color: grey ;
}
.about .box .text h4{
    color: rgb(20, 230, 17);
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box  .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: grey;
}
.skills .box  .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: greenyellow;

}
